<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Contact Us</h1>
      <p class="text-center sub-heading">we will be happy to help you</p>

      <div class="row">
        <div class="col-md-6 col-12 mx-auto">

          <form action="/contact" method="POST">
            <div class="mb-3">
              <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your FullName" name="name">
            </div>
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email" name="email">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Phone</label>
              <input type="Number" class="form-control" id="exampleInputPassword1" placeholder="Phone" name="phone">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Message</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Message" name="message">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>